﻿@model PruebaSavvyneer.Models.ResearchProduct

@{
    ViewBag.Title = "Index";
}

<style>
    .product-display {
        margin: 30px auto;
        width: 80%;
        max-width: 500px;
        background: whiteSmoke;
    }

    .product-display > table {
        border: 0;
        margin: 5px auto;
        width: 50%;
    }

    .product-display td {
        text-align: left;
        min-width: 250px;
        padding: 10px;
    }

    .display-header > h5{
        text-align: left;
        font-size: 1.8em;
        font-weight: bold;
    }


</style>

<h2>Welcome to the Savvyneer C# Challenge!</h2>

<p>Below is the definition for a product. Specifically, this is a <strong>Research Product</strong>, but 
    there can be others. Please familiarize with the code from the solution, and try to figure out
    how the text below is being displayed. When you come back, keep reading the instructions below.</p>

<p>You will make all the UI changes in this file, with the code below. You will need to do a NuGet package under <strong>Tools > NuGet Package Manager > Manage Packages for Solution...</strong></p>

<div class="product-display">
    <h4></h4>
    <table>
        <tr>
            <td colspan="2" class="display-header"><h5>@Model.Name (@Model.ID)</h5></td>
        </tr>
        @foreach(var item in Model.ProductProperties)
        {
        <tr>
            <td> <strong>@Html.DisplayFor(x => item.Key) </strong> </td>
            <td class="property-name"> @Html.DisplayFor(x => item.Value) </td class = "property-name">
        </tr>
            
        }
         <!--<tr>
                <td><strong>@Html.Raw(Model.ProductProperties.Single(p => p.Key.Equals("Price")).Key)</strong></td>
                <td class="property-name">@Html.Raw(Model.ProductProperties.Single(p => p.Key.Equals("Price")).Value)</tdclass="propert-name">
            </tr>
            <tr>
                <td class="property-name"><strong>@Html.Raw(Model.ProductProperties.Single(p => p.Key.Equals("Manufacturer")).Key)</strong></td>
                <td>@Html.Raw(Model.ProductProperties.Single(p => p.Key.Equals("Manufacturer")).Value)</td>
            </tr>
            <tr>
                <td class="property-name"><strong>@Html.Raw(Model.ProductProperties.Single(p => p.Key.Equals("Manufacturer")).Key)</strong></td>
                <td>@Html.Raw(Model.ProductProperties.Single(p => p.Key.Equals("Description")).Value)</td>
            </tr>
    -->
    </table>
</div>

<h3>Challenge #1</h3>

<p>
Currently, only price and manufacturer are showing for the product. Make the necessary changes to show the description also.
</p>

<h3>Challenge #2</h3>

<p>
Re-write the front-end (.cshtml) code to use a loop instead of a key reference for displaying the properties. That is,
don't use ProductProperties.Single() to find the right element on the list.
</p>

<h3>Challenge #3</h3>

<p>
You will need to modify the ResearchProduct class to include an additional property, and display it above. It must
work with the loop you wrote above, which means you need to add it to the list (hint: the property must implement IProductProperty interface).
</p>

<h2>Resources</h2>
<p>Some resources are found in the list below</p>

<ul>
    <li><a target="_blank" href="https://www.tutorialsteacher.com/mvc/mvc-folder-structure">MVC Folder Structure</a></li>
    <li><a target="_blank" href="https://stackoverflow.com/questions/4167085/c-sharp-can-someone-please-show-me-a-very-simple-example-of-interfaces">Interfaces in Lists</a></li>
    <li><a target="_blank" href="https://stackoverflow.com/questions/11261590/mvc-razor-foreach">MVC Razor Foreach</a></li>
</ul>
